@layout("/common/_container.html"){
<style>
    .init.init-project {
        position: relative;
        top: 100px;
        margin: 0;
        padding: 140px 0 0;
        background-image: url(${ctxPath}/static/img/empty.png);
        background-repeat: no-repeat;
        background-size: 129px 109px;
        background-position: top;
    }
    .init.init-page {
        text-align: center;
    }
    .init {
        margin: 30px 0;
        padding: 0 80px;
    }
    .init.init-page .title {
        font-weight: 500;
        font-size: 24px;
        color: #555;
    }
    .init.init-page .desc {
        font-size: 18px;
        color: #777;
    }
    .init.init-project .btn {
        margin: 30px 0 0;
    }
    .btn.btn-large {
        padding: 8px 24px;
        font-size: 16px;
    }
    .btn {
        display: inline-block;
        padding: 6px 10px;
        margin: 0 10px 0 0;
        color: #fff;
        font-size: 14px;
        background-color: #44acb6;
        border: 1px solid #44acb6;
        border-radius: 4px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline-color: #44acb6;
        background-clip: padding-box;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>项目管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                        <div class="row" id="cont" style="height:800px;">
                            <div class="init init-page init-project" id="noProject" style="display: none">
                                <div class="title">没有正在进行的项目</div>
                                <div class="desc">新建一个项目，和伙伴们一起开始协作吧</div>
                                <div class="btn btn-primary btn-large" onclick="TeamProjectInfo.openAddTeamProjectInfo()">新建项目</div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/team/teamProjectInfo/teamProjectInfo.js"></script>
@}
<script>
    var projectList='${len}';
    if(projectList==0){
        $("#noProject").css("display","block");
    }
    var teamId='${teamId}';
</script>