@layout("/common/_container.html"){
<!--1、Jquery组件引用-->
<script src="${ctxPath}/static/js/jquery.min.js" type="text/javascript"></script>
<!--2、bootstrap组件引用-->
<script src="${ctxPath}/static/js/bootstrap.min.js" type="text/javascript"></script>
<link href="${ctxPath}/static/css/bootstrap.min.css" rel="stylesheet" />
<!--3、bootstrap table组件以及中文包的引用-->
<script src="${ctxPath}/static/js/plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript"></script>
<script src="${ctxPath}/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js" type="text/javascript"></script>
<link href="${ctxPath}/static/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
<!--4、页面Js文件的引用-->
<script src="~/Scripts/Home/Index.js"></script>

<style>
    .init.init-project {
        position: relative;
        top: 100px;
        margin: 0;
        padding: 140px 0 0;
        background-image: url(${ctxPath}/static/img/empty.png);
        background-repeat: no-repeat;
        background-size: 129px 109px;
        background-position: top;
    }
    .init.init-page {
        text-align: center;
    }
    .init {
        margin: 30px 0;
        padding: 0 80px;
    }
    .init.init-page .title {
        font-weight: 500;
        font-size: 24px;
        color: #555;
    }
    .init.init-page .desc {
        font-size: 18px;
        color: #777;
    }
    .init.init-project .btn {
        margin: 30px 0 0;
    }
    .btn.btn-large {
        padding: 8px 24px;
        font-size: 16px;
    }
    .btn {
        display: inline-block;
        padding: 6px 10px;
        margin: 0 10px 0 0;
        color: #fff;
        font-size: 14px;
        background-color: #44acb6;
        border: 1px solid #44acb6;
        border-radius: 4px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline-color: #44acb6;
        background-clip: padding-box;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>项目管理</h5>
            </div>
            <div class="ibox-content">
                <div id="toolbar" align="right">
                    <button id="button_card" class="btn btn-secondary">卡片</button>
                    <button id="button_list" class="btn btn-secondary">列表</button>
                </div>
                <table id="TeamProjectInfoTable"
                       data-toggle="TeamProjectInfoTable"
                       data-show-header="false"
                       data-classes="table table-no-bordered table-hover">
                </table>
                <div class="row row-lg">
                    <div class="row" id="cont">
                        <div class="init init-page init-project" id="noProject" style="display: none">
                            <div class="title">没有正在进行的项目</div>
                            <div class="desc">新建一个项目，和伙伴们一起开始协作吧</div>
                            <div class="btn btn-primary btn-large" onclick="TeamProjectInfo.openAddTeamProjectInfo()">新建项目</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/team/teamProjectInfo/teamProjectInfo.js"></script>
@}
<script>
    var projectList='${len}';
    if(projectList==0){
        $("#TeamProjectInfoTable").remove();
        $("#cont").css("height","800px");
        $("#noProject").css("display","block");
    }
    var teamId='${teamId}';
</script>