<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkhc.server.modular.system.dao.ServerInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zkhc.server.modular.system.model.ServerInfo">
        <id column="id" property="id" />
        <result column="port_name" property="portName" />
        <result column="host_id" property="hostId" />
        <result column="port" property="port" />
        <result column="protocol" property="protocol" />
        <result column="ali_port" property="aliPort" />
        <result column="ngrok_port" property="ngrokPort" />
        <result column="remark" property="remark" />
        <result column="ali_status" property="aliStatus" />
        <result column="fire_status" property="fireStatus" />
        <result column="domain_name" property="domainName" />
        <result column="fire_zone" property="fireZone" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, port_name,host_id, port, protocol, ali_port, ngrok_port, remark, ali_status, fire_status, domain_name, fire_zone, type, create_time, update_time
    </sql>

    <select id="list" resultType="map">
        select zsi.id as id,
        zsi.port_name as portName,
        zsi.host_id as hostId,
        zsi.port,
        zsi.protocol,
        zsi.ali_port as aliPort,
        zsi.ngrok_port as ngrokPort,
        zsi.remark,
        zsi.ali_status as aliStatus,
        zsi.fire_status as fireStatus,
        zsi.domain_name as domainName,
        zsi.fire_zone as fireZone,
        zsi.type,
        zsi.create_time as createTime,
        zsi.update_time as updateTime
        from zkhc_server_info zsi
        WHERE
        1=1
        <if test="condition != null and condition !=''">
            and (zsi.port_name like CONCAT('%',#{condition},'%')
            or zsi.protocol like CONCAT('%',#{condition},'%')
            or zsi.domain_name like CONCAT('%',#{condition},'%')
            or zsi.type like CONCAT('%',#{condition},'%'))
        </if>
    </select>
</mapper>
