<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkhc.server.modular.system.dao.WebhookInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zkhc.server.modular.system.model.WebhookInfo">
        <id column="id" property="id" />
        <result column="type_name" property="typeName" />
        <result column="content" property="content" />
        <result column="add_time" property="addTime" />
        <result column="status" property="status" />
        <result column="count" property="count" />
        <result column="remark" property="remark" />
        <result column="push_message" property="pushMessage" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type_name, content, add_time, status, count, remark, push_message
    </sql>

</mapper>
