<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkhc.server.modular.team.dao.TeamProjectInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zkhc.server.modular.team.model.TeamProjectInfo">
        <id column="id" property="id" />
        <result column="team_id" property="teamId" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="icon" property="icon" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, team_id, name, description, icon, create_time, update_time, status
    </sql>

    <select id="selectProjectByTeam" resultType="map">
        select <include refid="Base_Column_List"></include>
        from team_project_info
        where team_id=#{teamId}
    </select>
</mapper>
