@layout("/common/_container.html"){
<style>
    .control-label, span {
        line-height: 35px;
    }
    .content .form-control-feedback{
        top:15%!important;
    }
</style>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="portManage">

            <div class="row">
                    <#input_sm id="portName" name="端口名" require="true"/>
                    <#select_sm id="hostId" name="服务器地址" require="true">

                    </#select_sm>
                    <#select_sm id="protocol" name="协议" require="true">
                        <option value="1">tcp</option>
                        <option value="2">udp</option>
                        <option value="3" selected="selected">http</option>
                    </#select_sm>
                    <#input_sm id="port" name="端口" require="true"  oninput="ServerInfoInfoDlg.portChange()"/>
                    <#input_sm id="aliPort" name="阿里代理端口" require="false"/>
                    <#input_sm id="ngrokPort" name="ngrok对应端口" require="false"/>
                    <#input_sm id="domainName" name="域名" require="true"/>
                    <#input_sm id="fireZone" name="区域"/>
                    <#select_sm id="type" name="类型" require="true">
                        <option value="0"></option>
                        <option value="1">mysql</option>
                        <option value="2">redis</option>
                        <option value="3">mongodb</option>
                        <option value="4">rabbitmq</option>
                    </#select_sm>
                    <#input_sm id="remark" name="备注"/>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ServerInfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ServerInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/serverInfo/serverInfo_info.js"></script>
@}
