@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-title " >
        <div class="row sections">
            <h5 style="font-size: 20px;padding-bottom:5px;padding-left:20px;">
                <ol class="breadcrumb">
                    <li class="glyphicon"><a href="/webhookInfo">队列消息管理</a></li>
                    <li class="glyphicon active">详情</li>
                </ol>
            </h5>
        </div>
    </div>
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 padding-10">
                    消息类别: <span id="left_typeName"></span> &nbsp&nbsp;
                    消息备注: <span id="left_remark"></span>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="pushMessage">推送的消息内容 :</label></br>
                            <textarea id="pushMessage" name="pushMessage" rows="10" cols="79"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea id="content" name="消息内容" rows="20" cols="80"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="form-horizontal">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <#input id="typeName" name="消息类别" value=""/>
                                        <#input id="uniqueAttr" name="数据区分"/>
                                        <#input id="showTitle" name="信息标题"/>

                                        <#input id="remark" name="备注"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="showCon">显示内容格式 :</label></br>
                                        <textarea id="showCon" name="showCon" rows="10" cols="50"></textarea>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="showCon">内容参数格式 :</label></br>
                                        <textarea id="showPlist" name="showPlist" rows="10" cols="50"></textarea>
                                    </div>
                                </div>

                                <div class="row btn-group-m-t">
                                    <div class="col-sm-10">
                                        <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="InfoActionStyleInfoDlg.addSubmit()"/>
                                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="InfoActionStyleInfoDlg.close()"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <script src="${ctxPath}/static/modular/webhook/infoActionStyle/infoActionStyle_info.js"></script>
                </div>
            </div>
            <script>

                var webhookInfoId = '${webhookInfoId}';
                var ajax = new $ax(Feng.ctxPath + "/webhookInfo/detail/data/"+webhookInfoId, function (data) {
                    $("#typeName").val(data.typeName);
                    $("#left_typeName").text(data.typeName);
                    $("#left_remark").text(data.remark);
                    $("#pushMessage").text(data.pushMessage);
                    var result = JSON.stringify(JSON.parse(data.content), null, 4);
                    $('#content').text(result);
                }, function (data) {
                    Feng.error("获取数据失败!" + data.responseJSON.message + "!");
                }, true);
                ajax.start();
            </script>
        </div>

    </div>
</div>

@}
